@using Util.Webs.EasyUi.Configs
@model BeiDream.Services.Systems.Dtos.MenuViewModel

@{
    var x = @Html.EasyUi();
}
@section SitePath {
    @*站点路径*@
    <div class="titlebar">
        <span class="title">当前位置：</span>
        <span>首页</span>
        <span class="bold">></span>
        <span>系统管理</span>
        <span class="bold">></span>
        <span>权限管理</span>
    </div>
}
@section head {
    <style type="text/css">
        .toolbar button {
            margin-left: 5px;
        }
    </style>
}
@section top {
    @*工具栏*@
    <div class="toolbar">
        @Html.Bootstrap().Button("新增").SetIcon(Icon.Inbox).SetState(ButtonState.Primary).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick","$.easyui.treegrid.addRoot({},'')")
        @Html.Bootstrap().Button("新增下级").SetIcon(Icon.Inbox).SetState(ButtonState.Success).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick", "$.easyui.treegrid.addToChild({},'')")
        @Html.Bootstrap().Button("编辑").SetIcon(Icon.Pencil).SetState(ButtonState.Info).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick", "$.easyui.treegrid.edit()")
        @Html.Bootstrap().Button("撤销").SetIcon(Icon.Stop).SetState(ButtonState.Warning).SetSize(ButtonSize.Xs).AddAttribute("onClick", "$.easyui.treegrid.cancel()")
        @Html.Bootstrap().Button("删除").SetIcon(Icon.Remove).SetState(ButtonState.Danger).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick", "$.easyui.treegrid.deleteById()")
        @Html.Bootstrap().Button("上移").SetIcon(Icon.ArrowUp).SetState(ButtonState.Primary).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick", "$.easyui.treegrid.moveUp()")
        @Html.Bootstrap().Button("下移").SetIcon(Icon.ArrowDown).SetState(ButtonState.Warning).SetSize(ButtonSize.Xs).AddAttribute("data-toggle", "tooltip").AddAttribute("title", "进行该操作后,记得保存").AddAttribute("onClick", "$.easyui.treegrid.moveDown()")
        @Html.Bootstrap().Button("保存").SetIcon(Icon.Save).SetState(ButtonState.Success).SetSize(ButtonSize.Xs).AddAttribute("onClick", "$.easyui.treegrid.save('/Systems/MenuManage/Save',null,'','')")
        @Html.Bootstrap().Button("刷新").SetIcon(Icon.Refresh).SetState(ButtonState.Info).SetSize(ButtonSize.Xs).AddAttribute("onClick", "$.easyui.treegrid.refresh('','')")
    </div>
}
@section content {
    @*右键菜单*@
    @Html.Partial("TreeGridMenu")
    @*表格*@
    @(x.TreeGrid("grid").Url("/Systems/MenuManage/Query").Fit().EnableDrag().Menu()          
            .Columns(
                x.GridColumn(t => t.Id).CheckBox(),
                x.GridColumn(t => t.Text,200,true),
                x.GridColumn(t => t.Code, 50, true),
                x.GridColumn(t => t.SortId, 50,true),
                x.GridColumn(t => t.PinYin, 80),
                x.GridColumn(t => t.Url, 200, true),
                x.GridColumn(t => t.Enabled, 50, true),
                        x.GridColumn(t => t.IconClass, 200,true).FormatImage(16, 16, true).Lookup(new LookupOption
                        {
                            Url = "/Commons/Icon/IconsControl",
                            Title = "选择图标",
                            Icon = "icon-rainbow",
                            Editable = false,
                            Width = 920,
                            Height = 400
                        }),
                x.GridColumn(t => t.UpdateTime, 150)
            )
    )
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $.easyui.newRowUrl = "/Systems/MenuManage/CreateNewRow";
        });
    </script>
}
